


h1{
  font-family: Another Typewriter, sans-serif;
  display: ;


  font-style:;
  color: #E4D2C8;
  letter-spacing: 10px;
  width: 70%;
  font-size: 2rem;
  font-weight: normal;
  margin: 0 auto 0;
  border: 0 0 0 0;c
  padding: 0 0 0 0;
}


.wel{
  vertical-align: top;
  margin: 0 auto 0;
  font-size: 16rem;
  text-align: center;
}


h3{
  padding: 0 0 0 0;
  border: 0 0 0 0;
  padding-top: 20px;
  font-size:20px;
  color: #E4D2C8;
  letter-spacing: 5px;
  font-family: Another Typewriter, sans-serif;
  width: 50%;
  font-weight: normal;
  margin: 0 auto;



}

h2{
  color: #E4D2C8;
  letter-spacing: 5px;
  font-family: Another Typewriter, sans-serif;
  width: 50%;
  font-weight: normal;
  margin: 0 auto;

}

body{
  text-align: center;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  background-color: #163355;
  color: ##E4D2C8;

}

p{
  font-style:bold;
  font-size: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color: #BD9FB8;

}

a{
  color: #E4D2C8;
  text-decoration:none;
}

.footer-link{
  color: #E4D2C8;;
  text-decoration:none;
  margin: 30px 10px auto 10px;
}


.works{
  font-family: Courier New, sans-serif;
  color: #E4D2C8;
  letter-spacing: 10px;
  width: 50%;
  font-size: 3rem;
  font-weight: normal;
  margin: 0 auto  30px auto;
}

#894D42
#163355
#E4D2C8
#BD9FB8
#E97F45
.red {
    outline: 100px solid rgba(255, 0, 0, 0.5) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 200px;
}

img{
  margin: 10px 10px 20px 10px;
}

.vid {
    filter:  contrast(33%) invert(0%) sepia(93%) saturate(260%) hue-rotate(178deg) brightness(30%) ;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;


}



.camra{
6}
.stuff{
  text-decoration: underline;
}
.top-containter{

  padding-top: 6rem;
  padding-bottom: 6rem;

}

.skills{
  text-align: left;
}


.TN{
  width: 50%;
  Height 50%;
}

.TN:hover{
  width: 70%;
  Height 70%;
}

.middle-container{
  filter: alpha(opacity=50);
  width: 100%;

  #894D42;
  padding-top: 30px;
  padding-bottom: 20px;

}

.bottomcon-tainter{

  padding-top: 30px;
  padding-bottom: 20px;
}

.topcloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: : 50px;
  padding-bottom: 20px
}

.profile{

}
.contact-me{
  padding-bottom: 30px;
}



.btn {
    padding-bottom: 20px;  background: #DA0037;
  background-image: -webkit-linear-gradient(top, #DA0037, #DA0037);
  background-image: -moz-linear-gradient(top, #DA0037, #DA0037);
  background-image: -ms-linear-gradient(top, #DA0037, #DA0037);
  background-image: -o-linear-gradient(top, #DA0037, #DA0037);
  background-image: linear-gradient(to bottom, #DA0037, #DA0037);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b5143f;
  background-image: -webkit-linear-gradient(top, #b5143f, #b5143f);
  background-image: -moz-linear-gradient(top, #b5143f, #b5143f);
  background-image: -ms-linear-gradient(top, #b5143f, #b5143f);
  background-image: -o-linear-gradient(top, #b5143f, #b5143f);
  background-image: linear-gradient(to bottom, #b5143f, #b5143f);
  text-decoration: none;
}
