
.top-containter{
margin-bottom: 50px;
}

.bg-box{
  width: 100%;
  height: 0px;
  font-size: 2rem;
  z-index: 1;
}
.bg-box.yell{
  height: 100px;
  position: relative;
  opacity: 0.50;

  background-color: #E97F45;
}

.middle-container.moveup1k{
  position: relative;
  top: -1000px;
  z-index: 3;
}

.bg-box.red{
  height: 1000px;
  position: relative;
  opacity: 0.50;

  background-color: #894D42;
}


.menu-bar{
    top: -100px;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 2rem;
  padding: 32px 0 32px 0;
  z-index: 3;
  margin: 0 auto 0 auto;
}




.menu-bar.items {
  text-align: center;
  top: 0;
  padding: 32px 9% 32px 9%;
  height: auto;
  width: auto;
}

.menu-bar:hover {
  font-size: 54px;
  padding: 19.6px 0 19.6px 0;
  z-index: 3;
  margin: 0 auto 0 auto;
}








h1{
  font-family: Courier New, Courier, monospace;
  color: #E4D2C8;
  letter-spacing: 10px;
  width: 70%;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto 0;
  border: 0 0 0 0;c
  padding: 0 0 0 0;
}





.wel01{
  padding: 0 0 0 0;
  vertical-align: top;
  height: 30px;
}

.wel{
  vertical-align: top;
  margin: 0 auto 0;
  font-size: 13rem;
  text-align: center;
  padding: 0 0 0 0;
}


h3{
  padding: 0 auto 0 auto;
  border: 0 0 0 0;
  padding-top: 20px;
  font-size:20px;
  color: #E4D2C8;
  letter-spacing: 5px;
  font-family: Courier New, Courier, monospace;
  width: 50%;
  font-weight: bold;
  margin: 0 auto;



}

h2{
  color: #E4D2C8;
  letter-spacing: 5px;
  font-family: Courier New, Courier, monospace;
  width: 50%;
  font-weight: bold;
  margin: 20px auto 20px;

}


body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  text-align: center;
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  background-color: #163355;
  color: ##E4D2C8;

}

p{
  font-size: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  color: #BD9FB8;

}

a{

  margin-top: 40px;
  color: #E4D2C8;
  text-decoration:none;
}

.footer-link{
  color: #E4D2C8;;
  text-decoration:none;
  margin: 00px 00px auto 0px;
}


.works{
  font-family: Courier New, sans-serif;
  color: #E4D2C8;
  letter-spacing: 10px;
  width: 50%;
  font-size: 3rem;
  font-weight: normal;
  margin: 0 auto  30px auto;
}

#894D42
#163355
#E4D2C8
#BD9FB8
#E97F45
.red {
    outline: 100px solid rgba(255, 0, 0, 0.5) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 200px;
}

img{
  margin: 10px 10px 20px 10px;
}

.vid {
    filter:  contrast(33%) invert(0%) sepia(93%) saturate(260%) hue-rotate(178deg) brightness(30%) ;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;


}



.camra{
6}
.stuff{
  text-decoration: underline;
}


.skills{
  text-align: left;
}


.TN{
  width: 50%;
  Height: 50%;
}

.TN:hover{
  width: 60%;
  Height: 60%;
}

.middle-container{
  filter: alpha(opacity=50);
  width: 100%;

  #894D42;
  padding-top: 30px;
  padding-bottom: 20px;

}

.bottomcon-tainter{

  padding-top: 30px;
  padding-bottom: 20px;
}

.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: : 50px;
  padding-bottom: 20px
}

.profile{

}
.contact-me{
  padding-bottom: 30px;
}



.btn {
  width: 10%;
  Height: auto;
  padding-top: 10px;
    padding-bottom: 10px;
     background: #DA0037;
  background-image: -webkit-linear-gradient(top, #DA0037, #DA0037);
  background-image: -moz-linear-gradient(top, #DA0037, #DA0037);
  background-image: -ms-linear-gradient(top, #DA0037, #DA0037);
  background-image: -o-linear-gradient(top, #DA0037, #DA0037);
  background-image: linear-gradient(to bottom, #DA0037, #DA0037);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px auto 20px auto;
}

.btn:hover {
  background: #b5143f;
  background-image: -webkit-linear-gradient(top, #b5143f, #b5143f);
  background-image: -moz-linear-gradient(top, #b5143f, #b5143f);
  background-image: -ms-linear-gradient(top, #b5143f, #b5143f);
  background-image: -o-linear-gradient(top, #b5143f, #b5143f);
  background-image: linear-gradient(to bottom, #b5143f, #b5143f);
  text-decoration: none;
}
